/* HEADER */

:host {
  grid-area: header;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 12vh;
  overflow-y: hidden;
  z-index: 1000;
}

header {
  z-index: 1000;
}

.header {
  grid-area: header;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 12vh;
  overflow-y: hidden;
}

.header__user {
  display: none;
  cursor: pointer;
}

.header__image {
  width: 0;
  height: 0;
  display: none;
}
.header__name {
  width: 0;
  height: 0;
  display: none;
}

.header__icon__container {
  justify-self: start;
  display: flex;
  align-items: center;
}

.header__icon {
  justify-self: start;
  font-weight: 800;
  font-size: 2rem;
}

.header i {
  font-size: 2rem;
}

@media (min-width: 769px) {
  :host {
    bottom: auto;
    top: 0;
  }

  .header {
    bottom: auto;
    top: 0;
  }

  .header__hamburger {
    display: none;
  }

  .header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .header__name {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
  .header__image {
    border: 2px solid var(--secondary-text-color);
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .user__image {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 50%;
  }
}
